.m-auto {
  margin: auto;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
ul li{
  list-style: none;
}
a {
  text-decoration: none;
}
hr {
  border: none;
  opacity: 1;
}
.link {
  color: black;
}